*{
    margin: 0;
    padding: 0;

}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
}

.box_card{
    /* display: flex; */
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 1rem;
}
img{
     position: relative;
     left: 30px;
    object-fit: cover;
   height: 40%;
   margin-top: 1rem;
   border-radius: 0.5rem;
}
h1{
    text-align: center;
}
.red{
   
    color: red;
}
.d{
    display: flex;
    justify-content: center;
}
button{
    height: 3rem;
    width: 100px;
    margin: 0 0.5rem;
    cursor: pointer;

}
#add{
    background-color: cadetblue;
    font-weight: 700;
    color:white;
    border: 1px solid white;
    border-radius: 0.5rem;
}
#rm{
    background-color: darkgray;
    border:white;
    font-weight: 700;
    border-radius: 0.5rem;
}